spring:
  application:
    name: worker-service
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health

orderflow:
  aws:
    region: us-east-1
  sqs:
    order-created-queue-url: ""
    order-created-dlq-url: ""
  worker:
    poll-delay-ms: 5000
